[submodule "todo-list-api"]
	path = todo-list-api
	url = git@github.com:matheuzeba/todo-list-api.git
    branch = main
[submodule "front/Interactive-rating-component"]
	path = front/Interactive-rating-component
	url = https://github.com/matheuzeba/Interactive-rating-component
[submodule "front/Single-price-grid-component"]
	path = front/Single-price-grid-component
	url = https://github.com/matheuzeba/Single-price-grid-component
[submodule "front/Huddle-landing-page-with-a-single-introductory-section"]
	path = front/Huddle-landing-page-with-a-single-introductory-section
	url = https://github.com/matheuzeba/Huddle-landing-page-with-a-single-introductory-section
[submodule "back/todo-list-api"]
	path = back/todo-list-api
	url = git@github.com:matheuzeba/todo-list-api.git
[submodule "back/cubos-bank"]
	path = back/cubos-bank
	url = git@github.com:matheuzeba/cubos-bank.git
